.nav-links{
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
}
.nav-links a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}   
.paragraph{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 7%;
    margin-bottom: 15%;
    margin-left: 20%;
    
}
html, body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
}
.boxes{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.box{
    border: 3px solid turquoise;
    border-radius: 15px;
    width: 200px;
    height: 150px;
}
.box-content{
    padding: 30px;
    text-align: center;
    border: 1px solid white;
    width:150px;
    height: 150px;
}
.third{
    background-color: gray;
    justify-items: center;
    text-align: center;
    height: 70%;
}
.third-content{
    padding: 200px ;
    text-align: center;
    width:150px;
}