.nav-links{
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
}
.nav-links a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}   
.paragraph{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}