.content{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
}

.content-1{
    padding-top: 70px;
}
content-2{
    width: 380px;
    height:350px;
    border-radius: 50%;
    border: 5px solid black;
}