.navbar{
    margin-top: 5%;
}
.navh{
    margin-right: 50%;
}
.links{
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    
}
.link-a{
    padding-top: 28px;
    text-decoration: none;
}