.content{
    display: flex;
    justify-content: space-evenly;
    margin-top: 6%;
    gap: 100px;
}

.content-1{
    padding-top: 40px;
}
.content-2{
    width: 280px;
    height:250px;
    border-radius: 50%;
    border: 5px ;
    border-image: linear-gradient(to top, red, yellow)
}