.navbar{
    margin-top: 3%;
    justify-content: center;
    width: 1200px;
    height: 100px;
    background-color: aliceblue;
}
.navh{
    margin-right: 40%;
}
.links{
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    
}
.link-a{
    text-decoration: none;
}