.navbar{
    margin-top: 3%;
    margin-left: 6%;
    display: flex;
    justify-content: space-around;
    width: 1000px; 
    height: 100px; 
    background-color: aliceblue;
}
.navh{}
.links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    
}
.link-a{
    text-decoration: none;

}