.navbar{
    margin-top: ;
}
.navh{
    margin-right: 70%;
}
.links{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    
}
.link-a{
    padding-top: 28px;
    text-decoration: none;
}