.navbar{
    margin-top: 3%;
    margin-left: 12%;
    display: flex;
    justify-content: space-around;
    width: 1000px; 
    height: 100px; 
}
.navh{
    padding-top: 4px;
    background: linear-gradient(to top,  #00a6ff, #d400ff) 1;
    
}
.links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    
}
.link-a{
    text-decoration: none;
    color: black;
}
.image-a{
    width:20px;
    height:20px;
}