.techstack-h1{
    font-family: "Poppins", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-weight: 300;          
    font-size: 25px;           
    line-height: 1.6;          
    letter-spacing: 0.2px;    
    color: red;  
}