.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    
    background-color: #b30e0e;
    padding: 10px;
}
.item1{
    background-color: aqua;
    border: 2px solid black;
    padding10px;
    text-align: center;
}