.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 10px;
}
.item1{
    border: 2px solid rgb(236, 8, 8);
    padding:10px;
    text-align: center;
}
.item2{
    border: 2px solid rgb(236, 8, 8);
    padding:10px;
    text-align: center;
}
.item3{
    border: 2px solid rgb(236, 8, 8);
    padding:10px;
    text-align: center;
}
.ite{
    border: 2px solid rgb(236, 8, 8);
    padding:10px;
    text-align: center;
}
.item1{
    border: 2px solid rgb(236, 8, 8);
    padding:10px;
    text-align: center;
}
.item1{
    border: 2px solid rgb(236, 8, 8);
    padding:10px;
    text-align: center;
}